@model dcp.Meta.Models.MetaPart

@Display.TokenHint()
<fieldset>
  <legend>SEO Meta Data</legend>
            
  <div class="editor-label">
    @Html.LabelFor(model => model.Keywords)
  </div>
  <div class="editor-field">
    @Html.TextBoxFor(model => model.Keywords, new { @class = "large text tokenized" })
    @Html.ValidationMessageFor(model => model.Keywords)
  </div>

  <div class="editor-label">
    @Html.LabelFor(model => model.Description)
  </div>
  <div class="editor-field">
    @Html.TextAreaFor(model => model.Description, new {@class = "tokenized" })
    @Html.ValidationMessageFor(model => model.Description)
  </div>
            
</fieldset>